<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.higher.pcmanagement.dao.PeopleDao">
    <select id="getAllPeople" resultType="com.higher.pcmanagement.pojo.People">
        SELECT *
        FROM people
        limit #{rowBegin},#{pageSize};
    </select>
    <select id="getPagePeopleCount" resultType="Integer">
        select count(0)
        from people
    </select>

    <insert id="addPeople" >
        insert into people values( null ,#{name},#{idcardType},#{idcard},#{tel},#{createTime})
    </insert>

    <delete id="deletePeopleById" >
        delete from people where peopleId=#{peopleId}
    </delete>

    <update id="updatePeopleById">
        update people set  name=#{name},idcard=#{idcard},tel=#{tel} where peopleId=#{peopleId}
    </update>

    <select id="getCountByIdcard" resultType="int">
        select count(0)
        from people
        where idcard = #{idcard}
    </select>
    <select id="getCountBytel" resultType="int">
        select count(0)
        from people
        where tel=#{tel}
    </select>
    <select id="getOneByPeopleId" resultType="com.higher.pcmanagement.pojo.People">
        select *
        from people
        where peopleId=#{peopleId}

    </select>
    <select id="getLikeNameIdCard" resultType="com.higher.pcmanagement.pojo.People">
        SELECT *
        FROM people
        WHERE NAME LIKE CONCAT('%',#{name},'%')
    </select>
</mapper>