<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.higher.pcmanagement.dao.PointDao">

    <select id="getPagePoint" resultType="com.higher.pcmanagement.pojo.Point">
        select *
        from point limit #{rowBegin},#{pageSize};
    </select>
    <select id="getPagePointCount" resultType="java.lang.Integer">
        select count(0)
        from point;
    </select>
</mapper>